baseURL = "https://mlr-org.com/"
title = "Machine Learning in R"
# for smart copyright line, leave this blank and check [params.copyright]
copyright = ""
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_files$", "_cache$"]

theme = "minimo"

disqusShortname = ""
googleAnalytics = ""

relativeurls = false
canonifyurls = true

Paginate = 10
preserveTaxonomyNames = true

enableRobotsTXT = true # generate robots.txt

# Syntax Highlighting ( https://gohugo.io/content-management/syntax-highlighting/ )
# we use highlight.js in /layouts/partials/footer/extra.html
# because the hugo native highlighting doesn't work with .Rmd files
pygmentsCodefences = false

enableEmoji = true

# Missing translations will default to this content language
defaultContentLanguage = "en"

[params.info]
description = ""
title404 = "Nothing's here!"

[params.assets]
favicon = "favicon.ico"
customCSS = ["css/custom.css"]
customJS = ["js/custom.js"]
gopher = "" # used in 404 template ( Generator: https://gopherize.me )

[params.copyright]
prefix = ""
holder = "Bernd Bischl"
startYear = "2013"
suffix = ""

[params.settings]
# date & time format: https://golang.org/pkg/time/
dateFormat = "2006, Jan 02"
listDateFormat = "2006, Jan 02"
archiveDateFormat = "Jan 02"
hideEntryNavigation = ["page"] # boolean / array of sections
showReadingTime = true
showLastmod = true
taxonomyCloudShuffle = true
accentColor = "#03638E"
hideMainMenu = true

[params.sidebar]
enable = true

[params.widgets]
homepage = ["recent_posts"]
sidebar = ["about",
           #"search",
           "sidebar_menu",
           "taxonomy_cloud"]
footer = ["social_menu"]

[params.opengraph.facebook]
admins = [] # array of Facebook IDs
appID = ""
pageID = ""

[params.opengraph.twitter]
page = "" # Twitter page username

[params.seo]
# Title Separator: - – — · • * ⋆ | ~ « » < >
titleSeparator = "•"

[params.social]
github = "mlr-org"

[params.comments]
enable = true

# Isso: https://posativ.org/isso/
[params.comments.isso]
enable = false
scriptSrc = "" # "https://isso.example.com/js/embed.min.js"
dataAttrs = "" # "data-isso='https://isso.example.com' data-isso-require-author='true'"

[params.comments.staticman]
enable = false
apiEndpoint = "https://api.staticman.net/v2/entry"
maxDepth = 2

[params.comments.staticman.github]
username = "mlr-org"
repository = "mlr"
branch = "master"

# Utterances: https://utteranc.es
[params.comments.utterances]
enable = true
issueTerm = "title" # pathname / url / title

[params.comments.utterances.github]
username = "mlr-org"
repository = "mlr-web"

[params.search]
client = "fuse" # algolia / fuse / lunr

[params.search.algolia]
#appId = "mlr"
#indexName = "search"
#searchApiKey = "d27c984717db8247b502930e8a99cc06"

[taxonomies]
author = "authors"
category = "categories"
series = "series"
tag = "tags"

[permalinks]
page = "/:slug/"

[[menu.main]]
name = "Blog"
weight = -40
identifier = "blog"
url = "#"

[[menu.main]]
name = "Packages"
weight = -30
identifier = "Packages"
url = "#"

[[menu.main]]
name = "RSS"
weight = -10
#identifier = "repository"
url = "/index.xml"

[[menu.main]]
name = "Packages"
weight = -40
identifier = "Packages"
url = "#"

[[menu.main]]
name = "mlr"
weight = -40
parent = "Packages"
url = "https://mlr.mlr-org.com"

[[menu.main]]
name = "mlrMBO"
weight = -40
parent = "Packages"
url = "https://mlrMBO.mlr-org.com"

[[menu.main]]
name = "mlrCPO"
weight = -40
parent = "Packages"
url = "https://mlrCPO.mlr-org.com"

[[menu.main]]
name = "mlr3"
weight = -40
parent = "Packages"
url = "https://mlr3.mlr-org.com"

[[menu.main]]
name = "mlr3data"
weight = -40
parent = "Packages"
url = "https://mlr3data.mlr-org.com"

[[menu.main]]
name = "mlr3db"
weight = -40
parent = "Packages"
url = "https://mlr3db.mlr-org.com"

[[menu.main]]
name = "mlr3filters"
weight = -40
parent = "Packages"
url = "https://mlr3filters.mlr-org.com"

[[menu.main]]
name = "mlr3learners"
weight = -40
parent = "Packages"
url = "https://mlr3learners.mlr-org.com"

[[menu.main]]
name = "mlr3pipelines"
weight = -40
parent = "Packages"
url = "https://mlr3pipelines.mlr-org.com"

[[menu.main]]
name = "mlr3proba"
weight = -40
parent = "Packages"
url = "https://mlr3proba.mlr-org.com"

[[menu.main]]
name = "mlr3tuning"
weight = -40
parent = "Packages"
url = "https://mlr3tuning.mlr-org.com"

[[menu.main]]
name = "mlr3spatiotemporal"
weight = -40
parent = "Packages"
url = "https://mlr3spatiotemporal.mlr-org.com"

[[menu.main]]
name = "mlr3verse"
weight = -40
parent = "Packages"
url = "https://mlr3verse.mlr-org.com"

[[menu.main]]
name = "mlr3viz"
weight = -40
parent = "Packages"
url = "https://mlr3viz.mlr-org.com"

[[menu.main]]
name = "paradox"
weight = -40
parent = "Packages"
url = "https://paradox.mlr-org.com"

[[menu.main]]
name = "OpenML"
weight = -40
parent = "Packages"
url = "https://www.openml.org/"

[[menu.main]]
name = "More"
weight = -40
parent = "Packages"
url = "https://github.com/mlr-org/mlr3/wiki/Extension-Packages"

[blackfriday]
hrefTargetBlank = true

[languages]
# edit this block for your own language
[languages.en]
lang = "en"
languageName = "English"
weight = 1

