/* Custom CSS */

/* don't duplicate name in sidebar */
.widget-about .site-title {
  display: none;
}

/* custom width of page */
.container {
  max-width: 840px;
}

/* remove whitespace of hidden main menu */
.main {
  padding-top: 0em;
}

/* code block settings */

code, kbd, pre, samp, var {
    font-family: Menlo,Consolas,Monaco,Ubuntu Mono,Liberation Mono,Lucida Console,monospace;
    color: black;
    background: #e1e4e8c7;
    border: 0px solid #dcdcdc;
    padding: 0.2em .4em;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #e1e4e8c7 !important;
    color: black;
}

body {
     font-size: 1.0em;
}
